<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HTML & CSS Training</title>
    <meta name="description" content="training" />
    <meta name="author" content="Wolox" />
    <link rel="stylesheet" type="text/css" href="../application.css" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li>
            <img
              src="../images/logo-wolox.png"
              class="logo-image"
              alt="logo-navbar"
            />
          </li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <article class="book-list">
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="index.html">
          <img
            src="../images/book-cover.png"
            class="book-image"
            alt="book-cover"
            width="180"
            height="250"
          />
          <div>
            <p class="book-title">Título del libro</p>
            <br />
            <p class="book-author">Autor del libro</p>
            <br />
          </div>
        </a>
      </div>
    </article>
  </body>
</html>
