<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HTML & CSS Training</title>
    <meta name="description" content="training" />
    <meta name="author" content="Wolox" />
    <link rel="stylesheet" type="text/css" href="../application.css" />
  </head>
  <body class="login-body">
    <div class="login">
      <img
        src="../images/logo-wolox.png"
        class="logo-image"
        alt="logo-navbar"
      />
      <form class="form-login">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <a href="./book-list.html" class="login-buttom">Login</a>
        <div class="border-line"></div>
        <a href="#" class="sign-up-buttom">Sign Up</a>
      </form>
    </div>
  </body>
</html>
